.group {
    background-color: black;
}

  /* @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap'); */

:root {
    --primary-color: #141414;
    --secondry-color: #fff;
    --third-color: #f00;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.group .row {
    width: 1280px;
    margin: auto;
    padding: 5% 0;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.header {
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 1;
    padding: 20px 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.column img {
    height: 40px;
}


.column {
    flex: 1;
}

p {
    color: var(--secondry-color);
    line-height: 2;
    font-size: 17px;
    margin: 0;
    /* font-family: ; */
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    color: var(--secondry-color);
    list-style: none;
    font-size: 25px;
    padding: 0 10px;
    margin: 0 0 0 10px;
    line-height: 0 !important;
}

nav ul li:hover {
    cursor: grab;
    color: var(--third-color);
}

nav ul li:active {
    cursor: grabbing;
}


.hero {
    background-image: linear-gradient(90deg, #14141470, #ffffff00), url(../images/img02.jpg);
    /* background-image: url(../images/img02.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .row {padding: 12% 0;}

h1 {font-family: Vollkorn; color: var(--secondry-color); font-size: 65px; line-height: 1.35; margin: 0; font-weight: 600;}
h2 {font-family: Vollkorn; color: var(--secondry-color); font-size: 45px; line-height: 1.35; margin: 0; font-weight: 600;}
h3 {font-family: Vollkorn; color: var(--secondry-color); font-size: 35px; line-height: 1.35; margin: 0; font-weight: 600;}
h4 {font-family: Vollkorn; color: var(--secondry-color); font-size: 25px; line-height: 1.35; margin: 0; font-weight: 600;}
h5 {font-family: Vollkorn; color: var(--secondry-color); font-size: 20px; line-height: 1.35; margin: 0; font-weight: 600;}